html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
:focus {
	outline: 0;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	background: #000 url(../images/bg.jpg) no-repeat center top;
	width: 100%;
}
a {
	color: blue;
	outline: none;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
p {
	margin: 0 0 18px;
}
img {
	border: none;
}
input {
	vertical-align: middle;
}
@font-face {
	font-family: 'BookmanOldStyle';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/BookmanOldStyle.eot');
	src: url('fonts/BookmanOldStyle.eot?#iefix') format('embedded-opentype'),
			 url('fonts/BookmanOldStyle.woff') format('woff'),
			 url('fonts/BookmanOldStyle.ttf') format('truetype'),
			 url('fonts/BookmanOldStyle.svg#1296') format('svg');
}
@font-face {
	font-family: 'BookmanOldStyle-Bold';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/BookmanOldStyle-Bold.eot');
	src: url('fonts/BookmanOldStyle-Bold.eot?#iefix') format('embedded-opentype'),
			 url('fonts/BookmanOldStyle-Bold.woff') format('woff'),
			 url('fonts/BookmanOldStyle-Bold.ttf') format('truetype'),
			 url('fonts/BookmanOldStyle-Bold.svg#1297') format('svg');
}
.wrap {
	margin: 0 auto;
	width: 1000px;
}
.header {
}
.header .logo {
	background: url(../images/logo.png) no-repeat center top;
	display: block;
	height: 155px;
	margin: 25px auto;
	width: 675px;
}
.content {
}
.common-content:after, .download-modal:after {
	clear: both;
	content: "";
	display: block;
	height: 0;
	visibility: hidden;
}
.content .main-modal {
	background: url(../images/mainModal.png) no-repeat 348px top;
	padding-bottom: 6px;
	text-align: center;
}
.content .join-modal:before {
	background: red;
	background: url(../images/sep.png) left top repeat-x;
	content: ' ';
	height: 100%;
	right: 88px;
	position: absolute;
	top: 0;
	width: 63%;
	z-index: -1;
}
.content .join-modal {
	background: url(../images/left.png) left top no-repeat, url(../images/right.png) right top no-repeat;
	margin: 0 auto;
	min-height: 290px;
	padding-bottom: 6px;
	position: relative;
	text-align: center;
	width: 50%;
}
.join-modal form {
	margin-top: 35px;
}
.activate-mts form {
	margin-top: 5px;
}
.join-modal form .message {
	color: #5A6F79;
	font-size: 14px;
	margin-top: 15px;
}
.join-modal form input[type="text"] {
	background-color: #01080c;
	border-radius: 3px;
	border: 1px #000 solid;
	box-shadow: 0px 1px 0px 0px rgba(177, 197, 207, 0.65);
	color: #fff;
	font-size: 13px;
	line-height: 28px;
	padding: 0 24px;
	width: 168px;
}
.join-modal form input[name="nick"] {
	background-image: url(../images/user.png);
	background-position: 4px 6px;
	background-repeat: no-repeat;
}
.join-modal form input[name="number"] {
	background-image: url(../images/phone.png);
	background-position: 6px 6px;
	background-repeat: no-repeat;
	margin-top: 10px;
}
.content .title {
	color: #ffc300;
	font: 14px Arial;
	line-height: 29px;
}
.content .modal-head {
	color: #9cb4bc;
	font: 700 14px Arial;
	line-height: 20px;
	margin: 0 auto;
	margin-top: 8px;
	width: 270px;
}
.control .modal-head {
	font-size: 13px;
	line-height: 16px;
	margin-top: 4px;
}
.control form {
	margin-top: 20px;
}
.other .modal-head {
	font-size: 13px;
}
.other .number-text {
	margin-top: 20px;
}
.other form {
	margin-top: 10px;
}
.join-modal .modal-head {
	width: 440px;
	text-transform: uppercase;
}
.number-text, .agree {
	color: #5A6F79;
	font: 15px Arial;
	margin-top: 10px;
}
.enter {
	height: 290px;
	position: relative;
}
.enter .message {
	margin: 80px auto;
	width: 270px;
}
.enter .message a {
	color: #cc9c2c;
}
.sms .number-text {
	color: #5A6F79;
	margin-top: 10px;
}
.sms .message span {
	color: red;
}
.sms form {
	margin-top: 5px;
}
.sms form select {
	font: 12px Arial;
	height: 30px;
	margin-top: 10px;
	width: 218px;
}
.sms form input[type="text"] {
	margin-left: 10px;
}
.join-modal a {
	color: #cc9c2c;
}
.join-modal.black .modal-head {
	margin-top: 18px;
}
.activate .number-text {
	margin-top: 20px;
}
.other.black .modal-head {
	font-size: 14px;
	line-height: 17px;
	margin-top: 0px;
}
.other.black form {
	margin-top: 12px;
}
.other.black .play {
	margin-top: 30px;
}
.sms .number-text {
	font-size: 14px;
}
.agree input {
	margin-top: 0;
}
.other form .play {
	margin-top: 24px;
}
.sms form .play {
	margin-top: 10px;
}
.white form {
	margin-top: 5px;
}
.white form .message {
	margin-top: 10px;
	padding: 0 10px;
}
.white form .message p {
	margin-top: 5px;
}
.activate-mts .modal-head {
	line-height: 18px;
	margin-top: 10px;
}
.activate-mts .inputs {
	display: inline-block;
	float: left;
	margin-left: 40px;
}
.activate-mts .reload {
	margin-top: 60px;
	min-height: 15px;
}
.activate-mts .captcha {
	display: inline-block;
	float: right;
	margin-right: 40px;
	margin-top: 5px;
}
.activate-mts .captcha img {
	max-width: 180px;
	max-height: 134px;
}
.activate-mts input[type="text"] {
	margin-top: 5px;
	padding-left: 10px !important;
	padding-right: 10px !important;
	width: 150px;
}
.backward-links {
	color: #FFF200;
	font: 16px Arial;
	margin: 0 auto;
	margin-top: 10px;
	text-align: center;
	width: 64%;
}
.backward-links a {
	color: #FF9F1E;
	font: 700 14px Arial;
}
.backward-links span {
	color: red;
	font: 700 14px Arial;
}
.backward-links #text_rule {
	color: #9cb4bc;
}
.content .links a {
	color: #01080c;
	display: inline-block;
	font: 700 15px Arial;
	margin-top: 55px;
	padding: 14px 36px;
	text-decoration: none;
}
.content .links a:first-child {
	background: #FBBD00;
	background: linear-gradient(#FBBD00, #D69800);
	background: -moz-linear-gradient(#FBBD00, #D69800);
	background: -ms-linear-gradient(#FBBD00, #D69800);
	background: -o-linear-gradient(#FBBD00, #D69800);
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FBBD00), to(#D69800));
	background: -webkit-linear-gradient(#FBBD00, #D69800);
	border-radius: 3px;
	box-shadow: 0px 0px 8px 0px rgba(166, 45, 3, 0.7);
	cursor: pointer;
	line-height: 17px;
	pie-background: linear-gradient(#FBBD00, #D69800);
}
.content .links a:last-child {
	background: #93B23D;
	background: linear-gradient(#93B23D, #6F8D34);
	background: -moz-linear-gradient(#93B23D, #6F8D34);
	background: -ms-linear-gradient(#93B23D, #6F8D34);
	background: -o-linear-gradient(#93B23D, #6F8D34);
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#93B23D), to(#6F8D34));
	background: -webkit-linear-gradient(#93B23D, #6F8D34);
	border-radius: 3px;
	box-shadow: 0px 0px 8px 0px rgba(60, 85, 11, 0.7);
	cursor: pointer;
	margin-top: 15px;
	pie-background: linear-gradient(#93B23D, #6F8D34);
}
.download-modal .text a {
	background: #FBBD00;
	background: linear-gradient(#FBBD00, #D69800);
	background: -moz-linear-gradient(#FBBD00, #D69800);
	background: -ms-linear-gradient(#FBBD00, #D69800);
	background: -o-linear-gradient(#FBBD00, #D69800);
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FBBD00), to(#D69800));
	background: -webkit-linear-gradient(#FBBD00, #D69800);
	border-radius: 3px;
	box-shadow: 0px 0px 8px 0px rgba(166, 45, 3, 0.7);
	color: #01080c;
	cursor: pointer;
	display: inline-block;
	font: 700 15px Arial;
	margin-top: 20px;
	padding: 10px 61px;
	pie-background: linear-gradient(#FBBD00, #D69800);
	text-decoration: none;
}
.download-modal table {
	border: 1px #b3b3b3 solid;
	font: 14px Arial;
}
.download-modal tr {
	border-bottom: 1px #b3b3b3 solid;
}
.download-modal td {
	border-left: 1px #b3b3b3 solid;
	padding: 5px;
	vertical-align: middle;
}
.download-modal .td2 {
	width: 42%;
}
.content .users-online {
	color: white;
	font: 13px Arial;
	margin-top: 35px;
}
.content .users-online span {
	color: #cc9c2c;
}
.join-modal .users-online {
	margin-top: 74px;
}
.join-modal.white .users-online {
	margin-top: 34px;
}
.sms .users-online {
	margin-top: 13px;
}
.enter-code .modal-head {
	font-size: 14px;
	line-height: 18px;
	margin-top: 0;
}
.enter-code form .message {
	margin: 10px 0;
}
.enter-code form {
	margin-top: 5px;
}
.activate-mts .users-online {
	margin-top: 26px;
}
.enter .users-online {
	bottom: 9px;
	left: 175px;
	position: absolute;
}
.enter-mts .users-online {
	margin-top: 38px;
}
.other .users-online {
	margin-top: 28px;
}
.join-modal.black .users-online {
	margin-top: 16px;
}
.activate .modal-head {
	line-height: 18px;
	margin-top: 0;
}
.control .users-online {
	margin-top: 33px;
}
.enter-code .users-online {
	margin-top: 17px;
}
.main-modal .users-online {
	margin-left: 25px;
}
.download-modal {
	background: #000;
	color: #c9d8dd;
	margin-bottom: 0;
	margin-bottom: 100px;
	margin: 0 auto;
	padding: 20px 20px 0px 20px;
	width: 79%;
}
.download-modal .text {
	float: left;
	font: 16px Arial;
	margin-left: 5%;
	margin-top: 28px;
	width: 58%;
}
.download-modal .image {
	float: left;
}
.common-content {
	margin-top: 59px;
}
.common-content .soldiers {
	background: url(../images/soldiers.png) no-repeat 0px bottom;
	padding: 23px 0;
	text-align: center;
}
.common-content .soldiers iframe {
	margin-left: -6px;
}
.common-content .game-desc {
	color: #c9d8dd;
	margin-top: 30px;
}
.common-content .battles {
	background: url(../images/battlesBorder.png) no-repeat top;
	float: left;
	margin-top: 30px;
	padding-top: 6px;
	width: 100%;
}
.common-content .battles ul {
	float: left;
	list-style: none;
	padding-left: 8px;
	text-align: center;
	width: 100%;
}
.common-content .battles li {
	color: #c9d8dd;
	float: left;
	margin-left: 5px;
	width: 24%;
}
.common-content .battles img {
	border-bottom: 1px #000 solid;
	border-top: 1px #000 solid;
	height: 166px;
	width: 225px;
}
.common-content .battles li p {
	padding: 15px 30px;
	text-align: left;
}
.content .players .item {
	background: url(../images/item.png) no-repeat right top;
	display: block;
	float: left;
	height: 133px;
	margin: 0 -4px 0 0;
	padding: 13px;
	position: relative;
	text-decoration: none;
	width: 104px;
}
.content .players .item:hover, .content .players .item.active {
	background: url(../images/item.png) no-repeat left top;
}
.content .players .item:first-child {
	margin-left: 0;
}
.content .players .item .pic {
	height: 133px;
	overflow: hidden;
	width: 104px;
}
.content .players .item .name {
	background: url(../images/name.png) repeat-x left top;
	bottom: 13px;
	color: #fff;
	font: 14px/12px 'BookmanOldStyle';
	height: 28px;
	left: 13px;
	padding: 7px 0 0 0;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	width: 104px;
}
.content .players .item:hover .name, .content .players .item.active .name {
	color: #b9ebf5;
}
.content .play {
	background: #FBBD00;
	background: linear-gradient(#FBBD00, #D69800);
	background: -moz-linear-gradient(#FBBD00, #D69800);
	background: -ms-linear-gradient(#FBBD00, #D69800);
	background: -o-linear-gradient(#FBBD00, #D69800);
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FBBD00), to(#D69800));
	background: -webkit-linear-gradient(#FBBD00, #D69800);
	border-radius: 3px;
	box-shadow: 0px 0px 8px 0px rgba(60, 85, 11, 0.7);
	color: #01080c;
	cursor: pointer;
	display: inline-block;
	font: 700 16px Arial, sans-serif;
	margin-top: 10px;
	padding: 10px 86px;
	pie-background: linear-gradient(#FBBD00, #D69800);
	text-decoration: none;
}
.enter-mts form .play {
	margin-top: 14px;
	padding: 10px 50px;
}
.enter-code .play {
	margin-top: 23px;
}
.content .playw {
	background: url(../images/play.png) no-repeat 0 0;
	color: #490E0B;
	display: block;
	font: 25px/50px 'BookmanOldStyle-Bold';
	height: 121px;
	margin: 0 0 0 292px;
	padding: 25px 163px 0 64px;
	text-align: center;
	text-decoration: none;
	width: 285px;
}
.activate .play {
	margin-top: 21px;
}
.activate-mts .play {
	margin-top: 5px;
}
.activate-mts.antibot .play {
	margin-top: 4px;
}
.control .play {
	margin-top: 30px;
}
.antibot .modal-head {
	margin-top: 20px;
}
.antibot .number-text {
	margin-top: 22px;
}
.content .form {
	background: url(../images/form.png) no-repeat 0 0;
	display: block;
	height: 164px;
	margin: 0 0 0 249px;
	width: 497px;
}
.join-modal.black form {
	margin-top: 25px;
}
.nav-bottom {
	clear: both;
	margin-top: 80px;
	text-align: center;
}
.nav-bottom li:first-child {
	border: none;
}
.nav-bottom li {
	border-left: 1px solid #222;
	display: inline;
	display: inline-block;
	height: 14px;
	line-height: 13px;
	zoom: 1;
}
.nav-bottom li a {
	color: #FFFFFF;
	font: 11.6px/14px Helvetica, Arial;
	padding: 0 1px 0 4px;
	padding: 0 4px 0 4px;
	position: relative;
	text-decoration: underline;
	top: -2px;
}
.nav-bottom li a:hover {
	text-decoration: none;
}
.info {
	color: #FFFFFF;
	font: 12px/14px Helvetica, Arial;
	font-size: 12px;
	line-height: 13px;
	margin-bottom: 50px;
	text-align: center;
}
.info p {
	margin: 0 0 10px 0;
}
.social {
	margin: 33px 0 0;
	text-align: center;
}
.social:after {
	clear: both;
	content: "";
	display: block;
	height: 0;
	visibility: hidden;
}
.social .social-cover * {
	display: inline;
	display: inline-block;
	font: 11px/21px Arial, Helvetica, sans-serif;
	height: 21px;
	zoom: 1;
}
.social .social-cover {
	float: right;
	margin-top: -11px;
}
.social img {
	float: left;
	height: 36px;
	margin-top: -24px;
}
.social .separator {
	border-bottom: 1px #3F4549 dashed;
	border-top: 1px #3F4549 dashed;
	left: 0;
	margin-top: -38px;
	padding: 36px 0;
	position: absolute;
	width: 100%;
	z-index: -1;
}
.facebook {
	cursor: pointer;
}
.facebook .text {
	background: url(../images/facebook.png) no-repeat right -21px;
	padding: 0 3px 0 0;
}
.facebook .text span {
	background: url(../images/facebook.png) no-repeat 0 0;
	color: #3B5998;
	padding: 0 8px 0 20px;
}
.facebook .num {
	background: url(../images/facebook.png) no-repeat right -64px;
	padding: 0 2px 0 0;
}
.facebook .num span {
	background: url(../images/facebook.png) no-repeat 0 -41px;
	color: #333;
	padding: 0 2px 0 7px;
}
.vk {
	cursor: pointer;
}
.vk .text {
	background: url(../images/vkontakte.png) no-repeat right -21px;
	padding: 0 25px 0 0;
}
.vk .text span {
	background: url(../images/vkontakte.png) no-repeat 0 0;
	color: #fff;
	padding: 0 4px 0 7px;
}
.vk .num {
	background: url(../images/vkontakte.png) no-repeat right -64px;
	padding: 0 2px 0 0;
}
.vk .num span {
	background: url(../images/vkontakte.png) no-repeat 0 -41px;
	color: #000;
	padding: 0 6px 0 10px;
}
.ok {
	background: url(../images/odnokvasniki.png) no-repeat right -21px;
	cursor: pointer;
	padding: 0 4px 0 0;
}
.ok .ok-inner {
	background: url(../images/odnokvasniki.png) no-repeat 0 0;
	color: #EB722E;
	padding: 0 5px 0 20px;
}
.ok .text {
}
.ok .num {
	margin: 0 0 0 4px;
}
.mailru {
	background: url(../images/mailru.png) no-repeat right -21px;
	cursor: pointer;
	padding: 0 4px 0 0;
}
.mailru .mailru-inner {
	background: url(../images/mailru.png) no-repeat 0 0;
	color: #0C4F90;
	padding: 0 4px 0 20px;
}
.mailru .text {
}
.mailru .num {
	margin: 0 0 0 4px;
}
.twitter {
	color: #333;
	cursor: pointer;
}
.twitter .text {
	background: url(../images/twitter.png) no-repeat right -21px;
	padding: 0 3px 0 0;
}
.twitter .text span {
	background: url(../images/twitter.png) no-repeat 0 0;
	padding: 0 2px 0 20px;
}
.twitter .num {
	background: url(../images/twitter.png) no-repeat right -63px;
	padding: 0 3px 0 0;
}
.twitter .num span {
	background: url(../images/twitter.png) no-repeat 0 -42px;
	padding: 0 2px 0 6px;
}
.entry-button, .entry-button > div, .entry-button a {
	behavior: url("PIE.htc");
	border: 0 !important;
	border-radius: 0 4px 4px 0;
	margin: 0 !important;
	moz-border-radius: 0 4px 4px 0;
	padding: 0 !important;
	webkit-border-radius: 0 4px 4px 0;
}
.entry-button {
	background: #efefef;
	border-color: #a0a0a0 !important;
	border-style: solid !important;
	border-width: 1px 1px 1px 0 !important;
	box-shadow: 1px 2px 4px #c6c6c6;
	left: 0;
	padding: 0 0 0 5px !important;
	position: fixed;
	top: 100px;
	z-index: 10;
}
.entry-button > div {
	background: url(../images/entry_button_0.png) left top repeat-x;
	border-left: solid 1px #c5c5c5 !important;
}
.entry-button > div:hover {
	background: none;
}
.entry-button a {
	background: url(../images/entry_button_1.png) center 11px no-repeat;
	color: #2d2d2d;
	display: block;
	font: 9.75pt Arial, Helvetica, Verdana sans-serif;
	height: 16px;
	line-height: 16px;
	padding: 37px 7px 6px !important;
	text-decoration: none;
	text-shadow: 1px 1px 1px #fff;
}
.entry-buttonw, .entry-buttonw > div, .entry-buttonw a {
	border: 0 !important;
	border-radius: 0 4px 4px 0;
	margin: 0 !important;
	moz-border-radius: 0 4px 4px 0;
	padding: 0 !important;
	webkit-border-radius: 0 4px 4px 0;
}
.entry-buttonw {
	background: #efefef;
	border-color: #a0a0a0 !important;
	border-style: solid !important;
	border-width: 1px 1px 1px 0 !important;
	box-shadow: 1px 2px 4px #c6c6c6;
	left: 0;
	padding: 0 !important;
	position: fixed;
	top: 160px;
	z-index: 10;
}
.entry-buttonw > div {
	background: url(../images/entry_button_0w.png) left top repeat-x;
	border-left: solid 1px #c5c5c5 !important;
}
.entry-buttonw > div:hover {
	background: none;
}
.entry-buttonw a {
	background: url(../images/entry_button_1w.png) center 11px no-repeat;
	color: #2d2d2d;
	display: block;
	font: 9.75pt Arial, Helvetica, Verdana sans-serif;
	height: 32px;
	line-height: 10px;
	padding: 59px 7px 6px !important;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px 1px #fff;
}
.error {
	color: #FF0000;
	font-size: 14px;
	margin-bottom: 20px;
	text-align: center;
}